
.App {
  width: 100%;
  min-width: 840px;

  display: flex;
  flex-direction: column;
  background-color: skyblue;
  font-family: 'Courier New', Courier, monospace;
}

.slider {
  flex-grow: 1;
  background-color: skyblue;
}

.contact {
  height: 100px;
  background-color: yellow;
}