
.skills {
  height: fit-content;
  background-color: #eee;

  display: grid;
  grid-template-columns: 1fr 1.6px 1fr;
  grid-template-areas: 
    "front div back"
    "other other other"
  ;
  .frontend {grid-area: front}
  .backend {grid-area: back}
  .column-devider {
    grid-area: div;
    background-color: #444;
  }
  .other {grid-area: other}
}

.skill-list,
.other 
{
  text-align: center;
  h2 {
    font-size: 2rem;
  }

  img {
    margin-top: 20px;
    height: 80px;
  }
  
  ul {
    padding-left:  15px;
    padding-right: 15px;
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  li {
    padding: 5px;
    width: 320px;
    height: 170px;
    border: solid #444 1.6px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 140px 1fr;
    grid-template-areas: "img title" "bar bar";

    img {
      margin: 0;
      overflow: hidden;
      border-radius: 8px;
      max-height: 100%;
      width: 100%;
      height: auto;
      grid-area: img;
    }

    h3 {
      grid-area: title;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }

    .progress-container {grid-area: bar}
  }
  
  .sql {
    grid-template-columns: 68% 32%;
  }
}

.other {
  border-bottom: none;
  border-radius: 50px 50px 0 0;
  background-color: #ddd;
}

@media (max-width: 750px) {
  .skill-list,
  .other {
    width: calc(50vw - 0.8px);
    
    h2 {
      font-size: 1.4rem;
    }

    ul {
      width: calc(100% - 30px);
    }

    li {
      padding: 2px;
      width: 100%;
  
      grid-template-rows: 100px 40px 30px;
      grid-template-areas: 
        "img img"
        "title title"
        "bar bar"
      ;
  
      h3 {
        margin: 0;
        position: relative;
        bottom: 15%;
        font-size: 1.4rem;
        line-height: 1.2rem;
      }
  
      .progress-container {grid-area: bar}
    }
  }

  .other {
    width: 100%;

    li {
      grid-template-rows: 100px 60px 30px;
      padding: 2px;
      width: 60%;
      height: 189px;

      h3 {
        bottom: 0;
      }
    }
  }
}